/* style.css */

/* Base page styling */
body {
    background-color: #e6e6e6;
    color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-bottom: 100px;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

/* Text styling for paragraphs on entire page */
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Top navigation bar */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-size: 24px;
    color: F9FAF8;
    font-weight: bold;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0%;
}

.header .left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-top: 40px;
    color: #E5E7EB;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    list-style-type: none;
    padding-top: 40px;
}

/* Styling for main part of the page */
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Styling for calculator */
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: black;
    border: 30px;
    padding: 150px;
    padding-bottom: 0;
}

.calcBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #36454F;
    border-style: solid;
    border-radius: 3%;
    padding: 15px;
    width: 450px;
}

.calcScreen {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    background-color: white;
    border-radius: 3%;
    height: 150px;
    margin: 9px;
    border-style: solid;
    font-size: 36px;
    padding: 12px;
    white-space: nowrap;
    overflow: hidden;

}

#calcScreen h3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    text-decoration: none;
    color: black;
    font-size: 36px;
    margin: 0;
}

.secondRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.thirdRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fourthRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fifthRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sixthRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Button styling */
button {
    border-color: black;
    border-radius: 7%;
    padding: 20px;
    cursor: pointer;
    width: 90px;
    height: 90px;
    margin: 10px;
    font-size: 36px;
}

button:hover {
    background-color: #e7e7e7;
    color: black;
  }

.clear {
    width: 200px;
    background-color: lightskyblue;
}

.clear:hover {
    background-color: #55CEFA;
    color: black;
  }

.del {
    width: 200px;
    background-color: #FFE4C4;
}

.del:hover {
    background-color: #DDE4C4;
    color: black;
  }